---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -hicpp-noexcept-move,
  -performance-noexcept-move-constructor,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-qualified-auto,
HeaderFilterRegex: '^\.\/.*\.hpp$'
WarningsAsErrors: '*'
